<!-- 헤더 -->
<header class="header">
<link rel="stylesheet" th:href="@{/css/common/header.css}" />
    <a href="/" class="logo">
        <img src="/uploads/salty-logo.png" alt="SALTY">
        SALTY
    </a>
    <nav class="nav-menu">
        <a th:href="@{/}" th:classappend="${requestURI == '/' ? 'active' : ''}">HOME</a>
        <a th:href="@{/trade}" th:classappend="${requestURI == '/trade' ? 'active' : ''}">COMMUNITY</a>
        <a th:href="@{/chat}" th:classappend="${requestURI == '/chat' ? 'active' : ''}">CHAT</a>
        <a th:href="@{/checklist}" th:classappend="${requestURI == '/checklist' ? 'active' : ''}">CHECKLIST</a>
        <a th:href="@{'/auth/userDetails/' + ${#authentication.principal.id}}"
           th:classappend="${requestURI.contains('/auth/userDetails') ? 'active' : ''}">USER</a>
    </nav>
</header>

