<!-- 헤더 -->
<header class="header">
    <link rel="stylesheet" th:href="@{/css/common/header.css}" />
    <a href="/" class="logo">
        <img src="/uploads/salty-logo.png" alt="SALTY">
        SALTY
    </a>
    <nav class="nav-menu">
        <a th:href="@{/}" th:classappend="${requestURI == '/' ? 'active' : ''}">HOME</a>
        <a th:href="@{/board}" th:classappend="${requestURI.contains('/board') ? 'active' : ''}">BOARD</a>
        <a th:href="@{/chat}" th:classappend="${requestURI == '/chat' ? 'active' : ''}">CHAT</a>
        <a href="#"
           th:onclick="${userPoint != null && userPoint >= 500} ? 'window.location.href=\'/checklist\'' : 'alert(\'Access denied. You need at least 500 points.\')'"
           th:classappend="${requestURI == '/checklist' ? 'active' : ''}">
            CHECKLIST
        </a>
        <a th:if="${#authentication != null and #authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"
           th:href="@{'/auth/userDetails/' + ${#authentication.principal.id}}"
           th:classappend="${requestURI.contains('/auth/userDetails') ? 'active' : ''}">
            USER
        </a>
    </nav>
</header>
